# Part A

In [1]:
import pandas as pd


df = pd .read_csv ('customer_raw_data_1500.csv')

In [17]:
df.head()
df.shape

(1500, 8)

In [18]:
df.isnull().sum()

Customer_ID          0
Age                  0
Gender               0
City                 0
Income             130
Customer_Since       0
Spending_Score      18
clean_income      1500
dtype: int64

In [22]:
df['clean_income'] =  df['Income'].replace('[$,]','',regex =True)
df['clean_income'] = pd.to_numeric(df['clean_income'],errors = 'coerce')

In [23]:
df.shape

(1500, 8)

In [26]:
income_median = df['clean_income'].median()
df['clean_income'].fillna(income_median, inplace=True)

C:\Users\AKHIL\AppData\Local\Temp\ipykernel_14108\2490430749.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['clean_income'].fillna(income_median, inplace=True)

In [28]:
df['Income'] = df['clean_income']
df.drop(columns='clean_income' ,inplace = True)

In [32]:
spending_median = df['Spending_Score'].median()
df['Spending_Score'].fillna(spending_median,inplace = True)

C:\Users\AKHIL\AppData\Local\Temp\ipykernel_14108\2237981391.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Spending_Score'].fillna(spending_median,inplace = True)

In [61]:
df['Customer_Since'] = pd.to_datetime(df['Customer_Since'],errors  ='coerce')

C:\Users\AKHIL\AppData\Local\Temp\ipykernel_14108\545224781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer_Since'] = pd.to_datetime(df['Customer_Since'],errors  ='coerce')

In [62]:
df['Gender'] = df['Gender'].str.strip().str.capiitalize()
df['Gender'] = df['Gender'].replace({'F':'Female','M':'Male','Unknown':pd.NA})

AttributeError: 'StringMethods' object has no attribute 'capiitalize'

In [63]:
df['City'] = df['City'].str.strip().str.title()
df['City'] = df['City'].replace({'Unknown': pd.NA})

C:\Users\AKHIL\AppData\Local\Temp\ipykernel_14108\26357203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City'] = df['City'].str.strip().str.title()
C:\Users\AKHIL\AppData\Local\Temp\ipykernel_14108\26357203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City'] = df['City'].replace({'Unknown': pd.NA})

In [64]:
df = df[(df['Age'] >0) & (df['Age'] <100)]

In [65]:
df = df.dropna(subset= ['Gender','City'])

In [66]:
duplicates = df.duplicated(subset = 'Customer_ID').sum()
print(f' total duplicates :{duplicates}')

 total duplicates :0

In [67]:
df = df.drop_duplicates(subset = 'Customer_ID')

In [68]:
print(f"Cleaned data {df.shape}")

Cleaned data (1071, 7)

# Part B

In [77]:
print( "Age Stats")
print ("Mean:",df['Age'].mean())
print ("Median:",df['Age'].median())
print ("Mode:",df['Age'].mode()[0])

Age Stats
Mean: 52.54435107376284
Median: 52.0
Mode: 76

In [78]:
print( "Income Stats")
print ("Mean:",df['Income'].mean())
print ("Median:",df['Income'].median())
print ("Mode:",df['Income'].mode()[0])

Income Stats
Mean: 84085.28384687209
Median: 84013.0
Mode: 84013.0

In [80]:
print ("Customer per city")
print(df['City'].value_counts())

Customer per city
City
Los Angeles    366
New York       357
Huston         174
Houston        174
Name: count, dtype: int64

In [81]:
print("Customer by Gender")
print(df['Gender'].value_counts())

Customer by Gender
Gender
Female    513
Male      369
Other     189
Name: count, dtype: int64

In [86]:
df['Age_group']= pd.cut(df['Age'],bins = [ 18,30,40,50,60,100],
                        labels =['18-30','31-40','41-50','51-60','60+'])
print(df.groupby('Age_group')['Spending_Score'].mean())

Age_group
18-30    48.777108
31-40    46.610390
41-50    49.379310
51-60    53.553191
60+      50.428910
Name: Spending_Score, dtype: float64

C:\Users\AKHIL\AppData\Local\Temp\ipykernel_14108\2783787845.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby('Age_group')['Spending_Score'].mean())

In [87]:
print(df.groupby('Gender')['Spending_Score'].mean())

Gender
Female    49.079922
Male      51.195122
Other     49.058201
Name: Spending_Score, dtype: float64

## Data issues noticed

In [89]:
# Their should be more entries of 'Male' and 'Female' and no entry for other gender.
# Some values were unknown which are incomplete data collected.
# High number of missing values